/* Colores */

$color-primario:#ABC566;
$color-secundario:#6d6d6d;
$color-terciario:#000;
$color-parrafo:#6d6d6d;

/* Titulos */

$titulo-principal-font: 'DM Sans', sans-serif;
$titulo-principal-size:60px;
$subtitulos-font: 'Inter', sans-serif;
$subtitulos-size: 38px;
$parrafo-font: 'Lato', sans-serif;
$parrafo-size: 16px;
$menu-font: 'Lato', sans-serif;
$menu-size: 16px;
$botones-font: 'Lato', sans-serif;
$botones-size: 14px;
